<% projectPageData.projects.forEach((project)=>{ %>
<div class="project">
  <div class="tooltip" style="display: none; z-index: 5"><%- project.owner_id%></div>

  <img class="prjImg" src="<%= project.image_url%>" />
  <div class="projectTitle">
    <a href="<%-`http://localhost:4000/project=${project.id}` %>"> <%=project.name%> </a>
  </div>
</div>
<% }) %>
