<!DOCTYPE html>
<script  src="./ejs.js"></script>
<script  src="./client.js"></script>
<link rel="stylesheet" href="./build/styles/projectsList.css">

<%- include('../partials/header')%>

<body>
<div id = "projectsWrapper">
    <%- include('../partials/projectList')%>
</div>

<span id="template" style="display:none"  >
</span>
<button id ="prev" onclick ="prev(<%-projectPageData.page - 1%>)"> &#8249; </button>
<button id="next" onclick ="next(<%-projectPageData.page + 1%>)"> &#8250; </button>
</body>
</html>