<!DOCTYPE html>
<script src="clientSideFunctionality.js"></script>

    <% projectPageData.projects.forEach((project)=>{ %>
         <div>
             <img style ="height:10px"src="<%= project.image_url%>"/>
             <a href = "<%=project.url%>"><%=project.name%></a>
            <%  %> 
             Updated: <%= new Date(project.update*1000).toLocaleString() %>
        </div> 
    <% }) %>
<button> Prev </button>
<button> Next </button>
</html>